t15_copyTask_neuralData
t15_pretrained_rnn_baseline
h5_list_data.json
session_stats.json
__pycache__
checkpoint_epoch_1.pth
checkpoint_epoch_2.pth
checkpoint_epoch_3.pth
checkpoint_epoch_4.pth
checkpoint_epoch_5.pth
checkpoint_epoch_6.pth
checkpoint_epoch_7.pth
checkpoint_epoch_8.pth
checkpoint_epoch_9.pth
checkpoint_epoch_10.pth
checkpoint_epoch_11.pth
checkpoint_epoch_12.pth
checkpoint_epoch_13.pth
checkpoint_epoch_14.pth
checkpoint_epoch_15.pth
best_model.pth